@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  .hero-title {
    display: flex;
    font-size: 36px;
  }

  .customers-item {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }

  .hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 36px;
    max-width: 496px;
  }
  .principles-title {
    display: flex;
  }
  .principles-item {
    width: calc((100% - 24px) / 2);
  }
  .principles-list {
    display: flex;

    gap: 24px;
    flex-wrap: wrap;
    text-align: start;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
  .team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
  .customers-item {
    width: calc((100% - 24px) / 4);
  }
  .customers-list {
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
  }

  .hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 48px;
    max-width: 496px;
  }
  .hero-section {
    padding: 188px 0px;
  }
  .principles-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    display: flex;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .principles-item::before {
    display: block;
    content: "";
    height: 112px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f4f4fd;
    border-radius: 4px;
  }

  .icon-antenna::before {
    background-image: url(../images/antenna.svg);
  }
  .icon-clock::before {
    background-image: url(../images/clock.svg);
  }
  .icon-diagram::before {
    background-image: url(../images/diagram.svg);
  }
  .icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
  .team {
    padding: 120px 0px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  .principles-list {
    display: flex;

    gap: 24px;
    flex-wrap: wrap;
    text-align: start;
  }
  .principles-item {
    width: calc((100% - 72px) / 4);
  }
  .principles {
    gap: 24px;
  }
}
