@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
    max-width: 768px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  .hero-title {
    display: flex;
  }
  .team-item {
    width: 268px;
  }
  .team-list {
    display: flex;

    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .open-menu {
    display: none;
  }
  .header-list,
  .header-link,
  .contacts-link,
  .contacts-link-mail,
  .contacts-link-phone {
    display: flex;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .line ::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
  }

  .contacts-link {
    color: #434455;
  }
  .contacts-link-mail {
    font-weight: 400;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link-phone {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
    max-width: 1440px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }

  .hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 36px;
    max-width: 496px;
  }
  .principles-title {
    display: flex;
    margin-bottom: 8px;
  }
  .principles-item {
    width: calc((100% - 24px) / 2);
  }
  .principles-list {
    display: flex;

    gap: 24px;
    flex-wrap: wrap;
    text-align: start;
  }
  .team {
    padding-top: 96px;
    padding-bottom: 0px;
  }
  .team-list {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-item {
    width: 268px;
  }
  .team-item {
    margin-bottom: 72px;
  }
  .customers-item {
    width: 168px;
  }

  .customers-list {
    gap: 24px;
  }

  .footer-social {
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-between;
    column-gap: 72px; */
    margin-left: auto;
  }
  .tablet {
    display: flex;
    gap: 24px;
  }
  .footer-p {
    display: flex;
    text-align: start;
  }
  .footer-container {
    width: 582px;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-wrap {
    text-align: start;
    max-width: 262px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

    margin-right: 24px;
  }
  .footer-logo {
    display: flex;
    text-align: start;
  }
  .footer-label span {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .footer-form {
    display: flex;
    margin-top: 72px;
  }
  .footer-btn {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    align-items: baseline;
  }
  .open-menu {
    display: none;
  }
  .header-list-contacts {
    display: flex;
    gap: 40px;
  }
  .contacts-link-mail {
    font-weight: 400;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link-phone {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
  }

  .hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 48px;
    max-width: 496px;
  }
  .hero-section {
    padding: 188px 0px;
  }
  .line ::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
  }
  .principles-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    display: flex;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .principles-item::before {
    display: block;
    content: "";
    height: 112px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f4f4fd;
    border-radius: 4px;
  }

  .icon-antenna::before {
    background-image: url(../images/antenna.svg);
  }
  .icon-clock::before {
    background-image: url(../images/clock.svg);
  }
  .icon-diagram::before {
    background-image: url(../images/diagram.svg);
  }
  .icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
  }
  .doing {
    display: flex;
  }
  .doing {
    padding: 60px 0px 120px 0px;
  }
  .doing-list {
    display: flex;
    gap: 24px;
  }

  .doing-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .doing-item {
    width: calc((100% - 24px) / 3);
  }

  .team-item {
    width: 268px;
  }
  .team-list:not(:last-child) {
    margin-bottom: 72px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team {
    padding-top: 120px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  .principles-list {
    display: flex;

    gap: 24px;
    flex-wrap: wrap;
    text-align: start;
  }
  .principles-item {
    width: calc((100% - 72px) / 4);
  }
  .principles {
    gap: 24px;
  }

  /*-------footer-------*/

  .footer-container {
    display: flex;
  }
  .footer-soc-list {
    /* max-width: 208px; */
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
  }

  .footer-soc-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 16px;
  }
  .footer-text {
    margin-top: 8px;
    width: 264px;
  }
  .footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .foter-span {
    color: #f4f4fd;
  }
  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }

  .footer-p {
    display: flex;
    text-align: start;
    max-width: 208px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

    margin-bottom: 16px;
  }

  .footer-soc-link:hover,
  .footer-soc-link:focus {
    background-color: #31d0aa;
  }
  .footer-label {
    margin-top: 0;
  }
}
